

*{
    box-sizing: border-box;
}

.calculator{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    position: absolute;
    background-color: #2E3036;
}

.display{
    width: 15rem;
    overflow-x: scroll;
    color: white;
    margin:5%;
    text-align: right;
    font-family: serif;
    font-size: larger;
    line-height: normal;
}

.buttons {
    background-color: rgb(70, 81, 105);
    padding: 4px;
}

.row {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    width: 60px;
    height: 50px;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    margin: 4px;
    background-color: rgb(51, 50, 50);
    border: none; 
    padding: 12px 20px; 
    outline: none; 
}


.button:hover {
    background-color: rgb(79, 78, 78);
}

.button:active {
    background-color: rgb(34, 34, 34);
}

.button__number {
    color: white;
}

.button__operator {
    color: tomato;
}

.button__tech {
    color: turquoise;
    width: 128px;
}
